# -*-mode:gitconfig-*- vim:ft=gitconfig
# See https://git-scm.com/docs/git-config

[apply]
    # Detect whitespace errors when applying a patch.
    whitespace = fix

[core]
    autocrlf = input
{{ if eq .chezmoi.os "windows" }}
    editor = code --wait
{{ end }}
    # Set comment character to something that allows mentioning issue numbers.
    commentChar = ";"

    # Store global exclusions into a custom file.
    excludesfile = ~/.gitignore_global

[fetch]
    # Remove any remote-tracking references that no longer exist on the remote.
    prune = true

[init]
    defaultBranch = master

[push]
    default = current

[pull]
    rebase = true

[rebase]
    autoStash = true

[user]
    name = "{{ .name }}"
    email = "{{ .email }}"

{{ if eq .chezmoi.os "windows" }}
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
{{ end }}
