{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env sh
  {{- if index .chezmoi.osRelease "idLike" -}}
  {{- if eq .chezmoi.osRelease.idLike "arch" }}
pacman -Q ansible zsh 1>&2> /dev/null || sudo pacman -S --noconfirm \
  ansible \
  python-virtualenvwrapper \
  zsh \
  zsh-autosuggestions
yay -Q --aur nerd-fonts-complete 1>&2> /dev/null || yay -S --aur --noconfirm \
 aur/nerd-fonts-complete
  {{- else if eq .chezmoi.osRelease.idLike "debian" }}
sudo apt update && \
  sudo apt install -y \
  ansible \
  curl \
  git \
  virtualenvwrapper \
  zsh \
  zsh-autosuggestions
  {{- end -}}
  {{- end -}}
{{ end }}
