{{- if eq .chezmoi.os "linux" -}}
#! /usr/bin/env sh
  {{- if eq .chezmoi.osRelease.idLike "arch" }}
pacman -Q ansible zsh 1>&2 2> /dev/null || sudo pacman -S \
  ansible \
  python-virtualenvwrapper \
  zsh \
  zsh-autosuggestions
  {{- else if eq .chezmoi.osRelease.idLike "debian" }}
sudo apt update && \
  sudo apt install -y \
  ansible \
  curl \
  git \
  virtualenvwrapper \
  zsh \
  zsh-autosuggestions
  {{- end -}}
{{ end }}
